<header class="container">
	<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
	    <a href="/" class="navbar-brand d-flex w-50 mr-auto">USUBA</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
	        <ul class="navbar-nav w-100 justify-content-end">
	            <li class="nav-item">
	                <a class="nav-link" href="/">Home</a>
	            </li>	
	            <li class="nav-item">
	                <a class="nav-link" href="/blog">Blog</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="https://github.com/DadaIsCrazy/usuba" target="_blank"><i class="fab fa-github"></i></a>
	            </li>
	        </ul>
	    </div>
	</nav>
</header>
